    
<form action="/contactForm/create" method="post">

  <p>FirstName</p>
  <input type="text" name="firstname">

 <p>LastName</p>
 <input type="text" name="lastname">

 <p>Email</p>
 <input type="text" name="email">

 <p>Subject</p>
 <input type="text" name="subject">


 <p>Message</p>
 <input type="text" name="message">



 <input type="submit" value="Submit Contactform">
</form>