body,
html {
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position: 0 0;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Public Sans', sans-serif;
	background: url('Rectangle.png') no-repeat center center fixed;
}

h1 {
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	text-transform: uppercase;
	color: #eeeeee;
}

p {
	font-size: 12px;
	font-weight: light;
	color: #333333;
}

span a {
	font-size: 18px;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
}
span a:hover{
	color: #ffffff;
}

@keyframes float {
	0% {

		transform: translatey(-30px);
	}
	50% {

		transform: translatey(-100px);
	}
	100% {
		transform: translatey(-30px);
	}
}





.float{
		animation: float 8s ease-in-out infinite;
		width: 30%; height: auto; border:0;
}
.sheepimg { width: 30%; height: auto; border:0; }
nav{
color:white;
	background: none;
	
}

.jumbotron{
	background:none;
	color:white;
	/* display: flex;
	flex-direction: row; */
}
#white{
	padding-right: 35px;
	color:white;
}
.navbar-dark
.navbar-toggler{
	border-color:white;
}
